/* Estilo para mostrar la animacion cargando... */

.animationload {
  background: #ffffff;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
  height: 100%;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

#imageLoad {
  background: url('../images/reload.gif') no-repeat;
  height: 256px;
  left: 50%;
  margin: -128px 0 0 -128px;
  position: absolute;
  top: 50%;
  width: 256px;
}