<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
	<link rel="stylesheet" href="css/estilos.css" />
	<title>Contratos electrónicos</title>
</head>
<body>
	<noscript>
		<span class="warningjs">Aviso: La ejecución de JavaScript está deshabilitada en su navegador. Es posible que no pueda responder todas las preguntas de la encuesta. Por favor, verifique la configuración de su navegador.</span>
	</noscript>
	<div id="animationload" class="animationload" style="display: none;">
		<div id="imageLoad"></div>
	</div>
	<div id="appContratos">
		<div class="card">
			<h5 class="card-header font-weight-bold">Contratos electrónicos</h5>
			<div class="card-body">
				<div class="container-fluid">
					<form id="frmBuscarContratos" name="frmBuscarContratos" v-on:submit.prevent="buscarContratos" method="post">
						<div class="form-row">
							<div class="form-group col-md-3">
								<label class="control-label font-weight-bold" for="estado">Estado</label>
								<select class="form-control" name="estado" id="estado" v-model="contrato.estado">
									<option v-for="(estado,indice) of estados" :value="indice">{{ estado }}</option>
								</select>
							</div>
							<div class="form-group col-md-3">
								<label class="control-label font-weight-bold" for="estado">NIT</label>
								<input type="text" name="nit" id="nit" class="form-control" v-model="contrato.nit" />
							</div>
							<div class="form-group col-md-6">
								<br>
								<button type="submit" id="btnSearch" class="btn btn-primary" data-toggle="tooltip" title="Buscar">
									<i class="fa fa-search"></i> Buscar</button>
								<button type="button" id="btnClean" class="btn btn-secondary" data-toggle="tooltip" title="Limpiar" @click="resetForm">
									<i class="fa fa-eraser"></i> Limpiar</button>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="col-md-12">
							<label for=""><strong>Total:</strong> {{ total }}</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table id="tablaContratos" class="table table-striped table-bordered table-hover compact">
								<thead>
									<tr class="table-info">
										<th class="text-center">Nombre entidad</th>
										<th class="text-center">Nit entidad</th>
										<th class="text-center">Proceso de compra</th>
										<th class="text-center">ID contrato</th>
										<th class="text-center">Estado contrato</th>
									</tr>
								</thead>
								<tbody id="tbodyContratos">
									<tr v-for="(contrato,indice) of contratos">
										<td>{{ contrato.nombre }}</td>
										<td>{{ contrato.nit }}</td>
										<td>{{ contrato.proceso }}</td>
										<td>{{ contrato.id }}</td>
										<td>{{ contrato.estado }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="vue/validators.min.js"></script>
	<script type="text/javascript" src="vue/vuelidate.min.js"></script>
	<script type="text/javascript" src="contratos.js"></script>
</body>
</html>